* { /* Fresh css palette to overwrite any unexpected browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#navbar {
    position: fixed;
    display: flex;
    width: 100%;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.navbar-content li {
    display: block;
    padding: 10px 15px;
}

.landing-text-container {
    position: absolute;
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text-item {
    position: relative;
    display: flex;
}
