<!DOCTYPE html>
<html>
<head>
    <title>Global App Initiative</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400|Open+Sans:300,400" rel="stylesheet">
</head>

<body>
  <div id="navbar">
      <a href="../index.html"><img src="../resources/navbar_logo.png" class="navbar-logo" alt="GAI Logo"></a>
      <!-- TODO: This logo should be an empty svg -->
      <ul class="navbar-content">
          <a href="projects.html">Projects</a>
          <div class="navbar-divider"></div>
          <a href="events.html">Events</a>
          <div class="navbar-divider"></div>
          <a href="about.html">About Us</a>
          <div class="navbar-divider"></div>
          <a href="contact.html">Join GAI</a>
      </ul>
  </div> <!-- navbar end -->

  <div class="temp-background">
  </div>
    <div class="about-panel">
      <h1> Our Mission </h1> <br>
      <h2> Global App Initiative integrates humanity and technology to create a program that
        trains students to become mobile-app developers for nonprofits. Never losing sight of
        the bigger picture, we recruit students of all fashions and interests to work towards
        building a more economically, socially, and environmentally sound world.</h2>
    </div>

    <div class="about-panel-right">
      <h2> Natalie Pienkowska </h2>
      <h3> President </h3>
      <h4> Bio here.
      </h4>
      <img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg">


    </div>

    <div class="about-panel-left">
      <h2> Warren Partridge </h2>
      <h3> Vice President </h3>
      <h4> Bio here.
      </h4>
      <img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg">


    </div>


</body>

</html>
