<!DOCTYPE html>
<html>
<head>
    <title>Global App Initiative</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Hello world!</h1>

    <div id="navbar">
        <a href="../index.html"><img src="../resources/navbar_logo.png" class="navbar-logo" alt="GAI Logo"></a>
        <!-- TODO: This logo should be an empty svg -->
        <ul class="navbar-content">
            <a href="projects.html">Projects</a>
            <div class="navbar-divider"></div>
            <a href="events.html">Events</a>
            <div class="navbar-divider"></div>
            <a href="about.html">About Us</a>
            <div class="navbar-divider"></div>
            <a href="contact.html">Join GAI</a>
        </ul>
    </div> <!-- navbar end -->

</body>

</html>
