<!DOCTYPE html>
<html lang="en">
<head>
    <title>Global App Initiative</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400|Open+Sans:300,400" rel="stylesheet">
</head>

<style>

ul li {
    font-family: 'Open Sans', sans-serif;
    background: rgba(24,25, 85, 0.9);
    margin: 5px;
    border-radius: 25px;
    max-width: 600px;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
}

</style>

<body>

  <div class="temp-background">
  </div>
  <div class="project-text" id="p-desc">
  <p> Select one of our projects on the side to see more details! </p>
  </div>
  <!--<div style="position:absolute;top:8rem;width:600px;height:100%;line-height:3em;padding:5px;">
  -->
  <div style="position:absolute;top:8rem; min-width:500px;width:45%;height:50%;line-height:3em;padding:5px;margin-right:50px;">
    <ul>
      <li class="popup" onclick="myFunction('p1')"> Project One <span class="popuptext" id="p1">This is the info for project one!</span> </li>
      <li class="popup" onclick="myFunction('p2')"> Project Two <span class="popuptext" id="p2">This is the info for project two!</span> </li>
      <li> Project Three </li>
      <li> Project One </li>
      <li> Project Two </li>
      <li> Project Three </li>
      <li> Project One </li>
      <li> Project Two </li>
      <li> Project Three </li>
    </ul>
  </div>

  <div id="navbar">
      <a href="../index.html"><img src="../resources/navbar_logo.png" class="navbar-logo" alt="GAI Logo"></a>
      <!-- TODO: This logo should be an empty svg -->
      <ul class="navbar-content">
          <a href="projects.html">Projects</a>
          <div class="navbar-divider"></div>
          <a href="events.html">Events</a>
          <div class="navbar-divider"></div>
          <a href="about.html">About Us</a>
          <div class="navbar-divider"></div>
          <a href="contact.html">Join GAI</a>
      </ul>
  </div> <!-- navbar end -->

  <script>
  // When the user clicks on div, open the popup
  function myFunction(x) {
      var pop_string = new String(x);
      var replacement = document.getElementById("p-desc");
      replacement.innerHTML = document.getElementById(pop_string).innerHTML;
      //  replacement.classList.toggle("show");
      //}
  }
  </script>

</body>

</html>
